<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/f31399e5-3ba1-42de-80a4-a6cc8041154f/resourcegroups/2018/providers/Microsoft.ContainerRegistry/registries/VSToolsForDocker20180802123210</ResourceId>
    <ResourceName>VSToolsForDocker20180802123210</ResourceName>
    <ResourceGroup>2018</ResourceGroup>
    <Subscription>Visual Studio Enterprise – MPN</Subscription>
    <RegistryUrl>https://vstoolsfordocker20180802123210.azurecr.io/</RegistryUrl>
    <UserName>VSToolsForDocker20180802123210</UserName>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>a5040eae-808c-4648-8404-a3709b7b3325</ProjectGuid>
  </PropertyGroup>
</Project>